.App {
  max-width: 1000px;
  margin: auto;
}
.title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.subTitle {
  font-size: 22px;
  font-weight: 500;
  color: rgb(128, 119, 119);
}
